.btn .material-icons {
    vertical-align: middle;
    font-size: 24px;
    top: -1px;
    position: relative;
}

.example-form {
  min-width: 150px;

  width: 100%;
}

.example-full-width {
  width: 100%;
}

.search-icon{
	font-size: 15px;
	padding-right: 10px
}