.table{
   > thead > tr > th{
       border-bottom-width: 1px;
       font-size: $font-size-h6;
       font-weight: $font-weight-light;
   }

   .radio,
   .checkbox{
       margin-top: 0;
       margin-bottom: 0;
       margin-left: 10px;
       padding: 0;
       width: 15px;

       .icons{
           position: relative;
       }
   }
   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td{
       padding: 12px 8px;
       vertical-align: middle;
   }

   > thead > tr > th{
       padding-bottom: 4px;
   }

   .td-actions{
        display: flex;

        .btn{
           margin: 0px;
           padding: 5px;
        }
    }
    > tbody > tr{
        position: relative;
    }
}


.cus-switch .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.cus-switch .switch input {display:none;}

.cus-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5696a1;
  -webkit-transition: .4s;
  transition: .4s;
}

.cus-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cus-switch input:checked + .slider {
  background-color: #4CAF50;
}

.cus-switch input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

.cus-switch input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.cus-switch .slider.round {
  border-radius: 34px;
}

.cus-switch .slider.round:before {
  border-radius: 50%;
}

.text-switch > span{
  display: inline-block;
  vertical-align: middle;
}